@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background-color: black;
    color: #fff;
    font-size: 16px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 100%;
    margin: 0 auto;
}

.nav-link:hover {
    color: #085902;
}

.nav-link {
    color: white;
}

.navbar-brand {
    color: #fff;
}

.navbar-brand:hover {
    color: #fff;
}



.nav-item.active {
    color: black;
    border-bottom: 2px solid #085902;
}

.btn-success {
    background-color: #085902;
    border: 0;
}

.btn-success:hover {
    background-color: #333;
}


.nav-link:hover {
    color: #333;
}

.list-group-item a {
    color: black;
}

.section-title a {
    color: white;
}

.section-title a:hover {
    color: #333;
}

.rating {
    padding: 70px 0;
}

.rating h2 {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}

.rating form {
    margin: 80px auto;
    max-width: 50%;
} 

.rating form .btn {
    background: #085902;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: #fff;
    padding: 15px 0;
    width: 99%;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.rating form .btn:hover {
    background-color: #333;
}




.feedback {
    padding: 70px 0;
}

.feedback h2 {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}

.feedback form {
    margin: 80px auto;
    max-width: 50%;
} 


.feedback form .btn {
    background: #085902;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: #fff;
    padding: 15px 0;
    width: 99%;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.feedback form .btn:hover {
    background-color: #333;
}

.btn-primary {
    background-color: #085902;
    border: 0;
}

.btn-primary:hover {
    background-color: #333;
    border: 0;
}

.card-text {
    color: black;
}
